.search-form {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

.search-input {
  width: 50%;
  outline: none;
  padding: 1rem;
}

.search-btn {
  background: blue;
  color: white;
  padding: 1rem 1.3rem;
  border: 2px solid blue;
  cursor: pointer;
  transition: all 100ms ease-in;
}
.search-btn:hover {
  opacity: 0.8;
}
.container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
